VITE_MULTIPLAYER_URL=ws://velocity-pitch.192.168.7.57.xip.made.frl/ws
VITE_PUBLIC_URL=http://velocity-pitch.192.168.7.57.xip.made.frl
MULTIPLAYER_HOST=0.0.0.0
MULTIPLAYER_PORT=8787
MULTIPLAYER_MAX_PLAYERS=4
